Button {
    -fx-background-color: #00CCCC;
    -fx-text-fill: black;        
    -fx-border-color: black;    
    -fx-background-radius: 5;   
    -fx-border-radius: 3; 
    -fx-cursor: hand;
    -fx-border-width: 0;    
}
 
AnchorPane{
    -fx-background-color: #333333;
}

Label{
    -fx-text-fill: white;   
}

RadioButton{
    -fx-text-fill: white; 
}

